* {
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to right,#1a2332,#334255)

  
}
#photo1 {
  background-image: url(photo1.jpg);
  background-size: cover;
  background-position: top;
  transition: all 1s ease-in-out;
  
}
#photo1:hover{
    background-position: center;
}

#photo2 {
  background-image: url(photo2.jpg);
  background-size: cover;
  background-position: top;
  transition: all 1s ease-in-out;
}
#photo2:hover{
    background-position: center;
}
#photo3 {
  background-image: url(photo3.jpg);
  background-size: cover;
  background-position: top;
  transition: all 1s ease-in-out;
}
#photo3:hover{
    background-position: center;
}
#photo4 {
  background-image: url(photo4.jpg);
  background-size: cover;
  background-position: top;
  transition: all 1s ease-in-out;
}
#photo4:hover{
    background-position: center;
}
#photo5 {
  background-image: url(photo5.jpg);
  background-size: cover;
  background-position: top;
  transition: all 1s ease-in-out;

}
#photo5:hover{
    background-position: center;
}
#photo6 {
  background-image: url(photo6.jpg);
  background-size: cover;
  background-position: top;
  transition: all 1s ease-in-out;
}
#photo6:hover{
    background-position: center;
}
#photo7 {
  background-image: url(photo7.jpg);
  background-size: cover;
  background-position: top;
  transition: all 1s ease-in-out;
}
#photo7:hover{
    background-position: center;
}
.right {
  flex-basis: 30%;
  text-align: center;
  color: white;
  margin-right: 10px;

}
h2{
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
}
.left {
    margin-left: 20px;
  flex-basis: 50%;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 120px;
}
.row2{
    grid-row: span 2;
}
.col2{
    grid-column: span 2;
}
.box{
    
    background-color: rgb(92, 65, 65);
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
}
.box:hover{
background-color: #999;


}
@media screen  and (max-width: 1024px){
  .container{
    flex-direction: column;
  }
  .left{
    width: 100%;
  }
  

  
}


